<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sist.main.dao.LoginVO" alias="LoginVO"/>
		<typeAlias type="com.sist.category.model.FoodVO" alias="FoodVO"/>
		<typeAlias type="com.sist.home.model.FestivalVO" alias="FestivalVO"/>
		<typeAlias type="com.sist.detail.dao.DetailReviewVO" alias="DetailReviewVO"/>
    	<typeAlias type="com.sist.detail.dao.Detail_Review_PhotoVO" alias="Detail_Review_PhotoVO"/>
    	<typeAlias type="com.sist.detail.dao.DetailPhotoVO" alias="DetailPhotoVO"/>
		<typeAlias type="com.sist.detail.dao.DetailTourplaceVO" alias="DetailTourplaceVO"/>
		<typeAlias type="com.sist.detail.dao.DetailRestaurantVO" alias="DetailRestaurantVO"/>
		<typeAlias type="com.sist.detail.dao.DetailFestivalVO" alias="DetailFestivalVO"/>
    	<typeAlias type="com.sist.main.dao.HomeItemVO" alias="HomeItemVO"/>
		<typeAlias type="com.sist.mypage.model.tourPlaceVO_u" alias="toruPlaceVO_u"/>
		<typeAlias type="com.sist.mypage.model.MemberVO_u" alias="MemberVO_u"/>
		<typeAlias type="com.sist.mypage.model.ReviewVO_u" alias="ReviewVO_u"/>
		<typeAlias type="com.sist.main.dao.HashTagVO" alias="HashTagVO"/>
		

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@211.238.142.205:1521:XE"/>
				<property name="username" value="hr"/>
				<property name="password" value="happy"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/sist/mypage/model/mypage_mapper.xml"/>
		<mapper resource="com/sist/main/dao/main-mapper.xml"/>
		<mapper resource="com/sist/category/model/food-mapper.xml"/>
		<mapper resource="com/sist/home/model/festival-mapper.xml"/>
		<mapper resource="com/sist/detail/dao/detail-mapper.xml"/>
	</mappers>
</configuration>
