<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.main.dao.main-mapper">
	<select id="getLoginInfo" resultType="LoginVO" parameterType="String">
		SELECT memberid, pwd, name, photo, regdate, birth FROM member where memberid = #{memberId}
	</select>
	
	<select id="getHomeItemFromCookie" resultType="HomeItemVO" parameterType="HashMap">
		SELECT no, ${name} AS name, ${photo} AS photo
		FROM ${table}
		WHERE no = #{no}
	</select>
	
	<select id="getSearchData" resultType="HomeItemVO" parameterType="HashMap">
		SELECT no, ${name} AS name, ${photo} AS photo
		FROM ${table}
		WHERE ${name}||' '||NVL(info,' ')||' '||NVL(addr1,' ')||' '||NVL(addr2,' ')
		LIKE '%'||#{keyword}||'%'
		AND rownum &lt; 5
	</select>
	
	<select id="getHIVOData" resultType="HomeItemVO" parameterType="HashMap">
		SELECT no, ${name} AS name, ${photo} AS photo
		FROM ${table}
		WHERE no = #{no}
	</select>
	
	<select id="getHashTagSearchData" resultType="HashTagVO" parameterType="String">
		SELECT tagcode, tagname FROM hashtagtable
		WHERE tagname LIKE '%'||#{keyword}||'%'
		AND rownum &lt; 5
	</select>
	
	<select id="getTypeNoListBySearch" resultType="HomeItemVO">
		SELECT type, no FROM
		(SELECT type, no, tagcode, COUNT(*) AS cnt FROM review NATURAL JOIN reviewtohashtag
		GROUP BY type, no, tagcode
		ORDER BY cnt DESC) NATURAL JOIN hashtagtable
		WHERE tagname LIKE '%'||#{keyword}||'%'
		AND cnt &gt; 3
		AND rownum &lt; 5
	</select>
	
	<select id="getHTListRegDESC" resultType="HashTagVO">
		SELECT tagcode, tagname
		FROM (SELECT tagcode, tagname FROM hashtagtable
				ORDER BY regdate DESC)
		WHERE rownum &lt; 8
	</select>
	
	<select id="getPopularHTList" resultType="HashTagVO">
		SELECT tagcode, tagname, count
		FROM (SELECT tagcode, tagname, count FROM hashtagtable
				ORDER BY count DESC)
		WHERE rownum &lt; 8
	</select>
	
	<select id="getHTAllList" resultType="HashTagVO" parameterType="int">
		SELECT tagcode, tagname, count
		FROM hashtagtable
	</select>
	
	<select id="getTypeNoListByTagcode_page" resultType="HomeItemVO" parameterType="HashMap">
		SELECT type, no
	    FROM (SELECT type, no, rownum AS num
	    FROM (SELECT type, no
	    FROM (SELECT type, no, tagcode, COUNT(*) AS cnt
	    FROM review NATURAL JOIN reviewtohashtag
	    GROUP BY type, no, tagcode
	    ORDER BY cnt DESC) NATURAL JOIN hashtagtable
	    WHERE tagcode=#{tagcode}
	    AND cnt > 3))
	    WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getHashTagData" resultType="HashTagVO" parameterType="int">
		SELECT * FROM hashtagtable WHERE tagcode=#{tagcode}
	</select>
	
	<select id="getHTItemListTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/12)
		FROM (SELECT type,no,tagcode,COUNT(*) AS cnt
		FROM review NATURAL JOIN reviewtohashtag
		GROUP BY type,no,tagcode
		ORDER BY cnt DESC) NATURAL JOIN hashtagtable
		WHERE tagcode=#{tagcode}
		AND cnt > 3
	</select>
	
	<select id="getTagcodeListByTypeNo" resultType="int" parameterType="HashMap">
		SELECT tagcode
		FROM (SELECT tagcode, COUNT(*) AS cnt
		FROM (SELECT tagcode
		FROM (SELECT reviewno
		FROM review
		WHERE type=#{type} AND no=#{no}) NATURAL JOIN reviewtohashtag)
		GROUP BY tagcode)
		WHERE cnt > 3
	</select>
	
	<select id="getGradeReviewCntByTypeNo" resultType="HomeItemVO" parameterType="HomeItemVO">
		SELECT TRUNC(AVG(grade)*20) AS grade, COUNT(*) AS reviewCnt
		FROM review
		WHERE type=#{type} AND no=#{no}
	</select>
	
	<select id="getHTListByTypeNo" resultType="HashTagVO" parameterType="HomeItemVO">
		SELECT tagcode, tagname
		FROM (SELECT tagcode, COUNT(*) AS cnt
		FROM (SELECT reviewno
		FROM review
		WHERE type=#{type} AND no=#{no}) NATURAL JOIN reviewtohashtag
		GROUP BY tagcode) NATURAL JOIN hashtagtable
		WHERE cnt > 3
		ORDER BY cnt DESC
	</select>
	
	<parameterMap type="HashMap" id="insertWishlistMap">
		<parameter property="pId" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="pType" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pNo" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
	</parameterMap>
	<select id="insertIntoWishlist" parameterMap="insertWishlistMap" statementType="CALLABLE">
		{CALL insertintowishlist(?,?,?)}
	</select>

	<delete id="deleteFromWishlist" parameterType="HashMap">
		DELETE FROM wishlist
		WHERE memberid=#{pId} AND type=#{pType} AND no=#{pNo}
	</delete>
	
	<select id="getWishListsByMemberId" parameterType="String" resultType="WishListVO_u">
		SELECT * FROM wishlist
		WHERE memberid=#{id}
	</select>
	
	<parameterMap type="HashMap" id="reviewnoHashtagnameMap">
		<parameter property="pReviewno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pTagname" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
	</parameterMap>
	<select id="setReviewnoHashtagname" parameterMap="reviewnoHashtagnameMap" statementType="CALLABLE">
		{CALL setReviewnoHashtagname(?,?)}
	</select>
	
	<parameterMap type="HashMap" id="reviewReplyDeleteMap">
		<parameter property="pNo" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
	</parameterMap>
	<select id="reviewReplyDelete" parameterMap="reviewReplyDeleteMap" statementType="CALLABLE">
		{CALL replyDelete(?)}
	</select>
	
	<parameterMap type="HashMap" id="reviewReplyInsertMap">
		<parameter property="pRvno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pId" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="pMsg" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
	</parameterMap>
	<select id="reviewReplyInsert" parameterMap="reviewReplyInsertMap" statementType="CALLABLE">
		{CALL replyInsert(?)}
	</select>
	
	<resultMap type="ReviewReplyVO" id="reviewReplyMap">
		<result property="no" column="no"/>
		<result property="reviewNo" column="reviewno"/>
		<result property="memberId" column="memberid"/>
		<result property="regdate" column="regdate"/>
		<result property="group_id" column="group_id"/>
		<result property="group_step" column="group_step"/>
		<result property="group_tab" column="group_tab"/>
		<result property="root" column="root"/>
		<result property="depth" column="depth"/>
		<result property="msg" column="msg"/>
	</resultMap>
	<parameterMap type="HashMap" id="reviewReplyListDataMap">
		<parameter property="pStart" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pEnd" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pRvno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pResult" resultMap="reviewReplyMap" mode="OUT"/>
	</parameterMap>
	<select id="reviewReplyListData" parameterMap="reviewReplyListDataMap" statementType="CALLABLE">
		{CALL replyListData(?,?,?,?)}
	</select>
	
	<parameterMap type="HashMap" id="reviewReplyReplyInsertMap">
		<parameter property="pRvno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pPno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pId" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
		<parameter property="pMsg" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>		
	</parameterMap>
	<select id="reviewReplyReplyInsert" parameterMap="reviewReplyReplyInsertMap" statementType="CALLABLE">
		{CALL replyReplyInsert(?,?,?,?)}
	</select>
	
	<parameterMap type="HashMap" id="reviewReplyTotalPageMap">
		<parameter property="pRvno" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pTotal" javaType="java.lang.Integer" jdbcType="INTEGER" mode="OUT"/>
	</parameterMap>
	<select id="reviewReplyTotalPage" parameterMap="reviewReplyTotalPageMap" statementType="CALLABLE">
		{CALL replyTotalPage(?,?)}
	</select>
	
	<parameterMap type="HashMap" id="reviewReplyUpdateMap">
		<parameter property="pNo" javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN"/>
		<parameter property="pMsg" javaType="java.lang.String" jdbcType="VARCHAR" mode="IN"/>
	</parameterMap>
	<select id="reviewReplyUpdate" parameterMap="reviewReplyUpdateMap" statementType="CALLABLE">
		{CALL replyUpdate(?,?)}
	</select>
</mapper>
























