@CHARSET "UTF-8";

.banner-area .search-widget {
	position: relative;
	top: 50px;
}

.banner-area .search-widget i {
	float: right;
}

.banner-area .btn-group {
	position: relative;
	top: 30px;
}

.banner-area .btn-group .btn {
	background-color: rgba(0,0,0,0);
	border: 0px solid white;
}

.calendar .month {
	overflow: hidden;
}

.calendar .month > div:NTH-CHILD(1),
.calendar .month > div:NTH-CHILD(2) {
	margin: 10px auto;
	text-align: center;
}

.calendar .month input {
	background: none;
	border: none;
	padding: 2px;
}

.calendar .panel-group {
	overflow: hidden;
	display: flex;
  	justify-content: center;
}

.calendar .panel {
	margin: 0px auto !important;
	width: 30%;
	float: left;
}

.owl-nav {
	position: relative;
	bottom: 30px;
	left: 65px;
}

.owl-prev {
	position: relative;
	top: 60px;
	background-color: #dbdbdb!important;
}

.owl-next {
	position: relative;
	bottom: 60px;
	background-color: #dbdbdb!important;
}