@CHARSET "UTF-8";

.banner-area .search-widget {
	position: relative;
	top: 50px;
}

.banner-area .search-widget i {
	float: right;
}

.banner-area .btn-group {
	position: relative;
	top: 30px;
}

.banner-area .btn-group .btn {
	background-color: rgba(0,0,0,0);
	border: 0px solid white;
}

.calendar .month {
	overflow: hidden;
}

.calendar .month > div:NTH-CHILD(1),
.calendar .month > div:NTH-CHILD(2) {
	margin: 10px auto;
	text-align: center;
}

.calendar .month input {
	background: none;
	border: none;
	padding: 2px;
}

.calendar .panel-group {
	overflow: hidden;
	display: flex;
  	justify-content: center;
}

.calendar .panel {
	margin: 0px auto !important;
	width: 30%;
	float: left;
}

.owl-nav {
	position: relative;
	bottom: 30px;
	left: 65px;
}

.owl-prev {
	position: relative;
	top: 60px;
	background-color: #dbdbdb!important;
}

.owl-next {
	position: relative;
	bottom: 60px;
	background-color: #dbdbdb!important;
}

.row.food-catetop {
	height: 300px;
}

.single-post-item.short {
	position: relative;
	padding-bottom: 30px;
}

.heart {
	position: absolute;
	top: 5%;
	left: 95%;
	transform: translate(-80%, -20%);
}

.heart_button{
	width:25px;
	height:25px;
	padding:0px 0px;
	border-radius: 30%;
	border:0px solid black;
}


.heart_button > .heart_on{
	opacity: 0;
	transition: opacity 1s
}

.heart_button:HOVER > .far .fa-heart .fa-fw{
	opacity: 1;
}

.far > .fa-heart {
	background-color: red;
}