<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.reservation.model.reservation-mapper">
	
	<select id="reservationListData" resultType="com.sist.reservation.model.ReservationVO" parameterType="int">
		SELECT rname,openhour,link,mapX,mapY,addr1,addr2
		FROM restaurant
		WHERE no=#{no}	
	</select>

	<select id="getPhoto" resultType="string" parameterType="int">
		SELECT filepath
		FROM photo
		WHERE reviewno=#{reviewno}
	</select>
	
	<select id="bookingData" resultType="com.sist.reservation.model.MemberVO" parameterType="int">
		SELECT email,pwd  
		FROM member
		WHERE memberid LIKE '%'||#{memberid}||'%'
	</select>
	
	<insert id="bookingResultData" parameterType="com.sist.reservation.model.ReservationVO"> <!-- ODER MAP -->
		INSERT bookingrestaurant
		INTO VALUES ((SELECT NVL(MAX(bookingnumber)+1,1),#{memberid},#{no},#{reservationdate},#{time},#{inwon})
	</insert>
	
</mapper>