<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.reservation.model.reservation-mapper">

	<select id="reservationListData" resultType="RestaurantVO" parameterType="int">
		SELECT *
		FROM restaurant
	    WHERE no=#{no}
	</select>
	
	<select id="memberIdCount" resultType="int" parameterType="string">
	  	SELECT COUNT(*) FROM member
	  	WHERE memberid=#{memberid}
	</select>
	
	<select id="membergetPwd" resultType="MemberVO_r" parameterType="string">
		SELECT id,pwd,name
		FROM member
		WHERE memberid=#{memberid}	
	</select>
	
	<insert id="bookingInsert" parameterType="ReservationVO"> <!-- ODER MAP -->
		INSERT bookingrestaurant
		INTO VALUES ((SELECT NVL(MAX(bookingnumber)+1,1),#{memberid},#{no},#{reservationdate},#{time},#{inwon})
	</insert>
	

</mapper>