<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.tourplace.model.tourplace-mapper">
	<select id="tourplaceListData" resultType="TourplaceVO" parameterType="java.util.Map">
		SELECT no,tname,openhour,tphoto,grade,num
		FROM (SELECT no,tname,openhour,tphoto,grade,rownum as num
        FROM (SELECT no,tname,openhour,tphoto,grade
		FROM tourplace ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="tourplaceTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/4.0) FROM tourplace
	</select>
	
	<select id="tourplaceTagListData" resultType="TourplaceTagVO" parameterType="java.util.Map">
		SELECT * FROM tourplacetag ORDER BY tagcode
	</select>
	
	<select id="tourplaceTagDetailData" resultType="TourplaceTagDetailVO" parameterType="java.util.Map">
		CREATE OR REPLACE VIEW TOURPLACETAG_CONTENT AS
		SELECT x.tagcode,y.no,y.rname,y.openhour,y.rphoto,y.price,y.grade FROM tourplacetagmapper x
		JOIN tourplace y ON x.rno=y.no
		WHERE x.tagcode=7 ORDER BY y.no
		<!-- #{foodtagcode} -->
	</select>
	
	<select id="tourplaceData" resultType="TourplaceTagDetailVO" parameterType="java.util.Map">
		SELECT tagcode,no,tname,openhour,tphoto,grade,num
		FROM (SELECT tagcode,no,tname,openhour,tphoto,grade,rownum as num
		FROM (SELECT tagcode,no,tname,openhour,tphoto,grade
		FROM TOURPLACETAG_CONTENT ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
		<!-- WHERE num BETWEEN #{tstart} AND #{tend}; -->
	</select>
	
	<select id="tourplaceTagTotalPage" resultType="int"> <!-- parameterType="int" -->
		SELECT CEIL(COUNT(*)/6.0) FROM (SELECT x.tagcode,y.no,y.rname,y.openhour,y.rphoto,y.price,y.grade FROM tourplacetagmapper x
		JOIN tourplace y ON x.rno=y.no WHERE x.tagcode=7)
		<!-- JOIN restaurant y ON x.rno=y.no WHERE x.tagcode=#{foodtagcode}); -->
	</select>

</mapper>